* {
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
#font {
  margin: 125px 0 75px 0;
}
#about,
.animation-text-wipe {
  font-family: "Shadows Into Light", cursive;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.polaroid-gallery {
  text-align: center;
}

.polaroid-gallery-title {
  font-size: 32px;

  font-weight: 400;
  color: #333;
}

.polaroid-card {
  display: inline-block;
  background-color: #eee6d8;
  padding: 10px;
  box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.7);
}

.polaroid-card-caption {
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  font-size: 12px;
  margin-top: 6px;
  letter-spacing: 2px;
}

.polaroid-card:nth-of-type(even) {
  transform: rotate(12deg);
}

.polaroid-card:nth-of-type(odd) {
  transform: rotate(-12deg);
}

.polaroid-card:nth-of-type(even)::before {
  content: "";
  display: block;
  background-color: rgba(222, 220, 200, 0.66);
  width: 100px;
  height: 25px;
  transform: rotate(-24deg) translate(-30px, -25px);
}

.polaroid-card:nth-of-type(odd)::before {
  content: "";
  display: block;
  background-color: rgba(222, 220, 200, 0.66);
  width: 100px;
  height: 25px;
  transform: translate(140px, -5px) rotate(25deg);
}

.polaroid-card:nth-of-type(1) {
  transition: transform 0.75s;
}

.polaroid-card:nth-of-type(1):hover {
  transform: rotate(360deg) scale(1.25);
}

.polaroid-card:nth-of-type(2) {
  transition: transform 0.75s;
}

.polaroid-card:nth-of-type(2):hover {
  transform: scale(1.5);
}

.polaroid-card:nth-of-type(3) {
  transition: transform 0.75s;
}

.polaroid-card:nth-of-type(3):hover {
  transform: scale(1.1) skewY(20deg);
}

.polaroid-card:nth-of-type(4) {
  transition: transform 0.75s;
}

.polaroid-card:nth-of-type(4):hover {
  transform: scale(1.1) skewY(20deg) rotate(10deg) translate(-50px);
}
.animation-text-wipe {
  opacity: 0;
  -webkit-mask-image: linear-gradient(to left, #0000 38%, #000 40%);
  -webkit-mask-size: 300%;
}

.animation-text-wipe.animate-in {
  animation-name: text-wipe;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.anim-delay-1 {
  animation-delay: 0.25s;
}
.anim-delay-2 {
  animation-delay: 0.5s;
}
.anim-delay-3 {
  animation-delay: 0.75s;
}

@keyframes text-wipe {
  0% {
    opacity: 1;
    -webkit-mask-position: 100%;
  }

  100% {
    opacity: 1;
    -webkit-mask-position: 0%;
  }
}
