@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
.animation_text h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #080808;
  font-size: 60px;
  font-weight: 500;
}
.animation_text h1 span {
  color: #0d47a1;
}
@media (max-width: 768px) {
  .animation_text h1 {
    font-size: 30px;
  }
}
.fas {
  background-color: none !important;
}
