@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
.animation_text h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #080808;
  font-size: 60px;
  font-weight: 500;
}
.animation_text h1 span {
  color: #555855;
}
@media (max-width: 768px) {
  .animation_text h1 {
    font-size: 30px;
  }
}
#linkedin:hover {
  transform: scale(1.1);
  animation-name: linkedin-icon;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes linkedin-icon {
  100% {
    background-color: #0077b5;
    color: white;
  }
}
#github:hover {
  transform: scale(1.1);
  animation-name: github-icon;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes github-icon {
  100% {
    background-color: #5d3fd3;
    color: white;
  }
}
#email:hover {
  transform: scale(1.1);
  animation-name: email-icon;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes email-icon {
  100% {
    background-color: #097969;
    color: white;
  }
}
